<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>18441737414-meilv4s85mrksdsrpcrec2hjcaqeiugu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18441737414-meilv4s85mrksdsrpcrec2hjcaqeiugu</string>
	<key>API_KEY</key>
	<string>AIzaSyD3f8t6tv4j3ZeeCd_CDPHZBkQ6XRzW144</string>
	<key>GCM_SENDER_ID</key>
	<string>18441737414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homework.FlappyNinja</string>
	<key>PROJECT_ID</key>
	<string>flappyninja-397af</string>
	<key>STORAGE_BUCKET</key>
	<string>flappyninja-397af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:18441737414:ios:e823a24f606da5ef</string>
	<key>DATABASE_URL</key>
	<string>https://flappyninja-397af.firebaseio.com</string>
</dict>
</plist>
